{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dropbox Project Automation{% endblock %}

{% block page_content %}
    
    <h3>Authorization</h3>
    {{ wtf.quick_form(form) }}
    
    <div class="spinner">
		<div class="well well-lg">
			<figure>
				<img src="https://dl.dropboxusercontent.com/u/354544978/MKTG-DEMO/static/spin.gif" style="padding-top:30px;"/>
			</div>
		</div>
	</div>
    
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./static/js/app.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}





