{% extends 'base.html' %}

{% block page_content %}

    <figure>
        <img src="https://dl.dropboxusercontent.com/u/354544978/MKTG-DEMO/static/dropbox.png" height="70" />
    </figure>

    <!-- Header -->
    <header id="top" class="header">
        
        <div class="text-vertical-center">
            <h1>Dropbox Services Deployment Automation</h1>
            <h3>Set up folder structures and distribute them to team members during the deployment.</h3>
            <br>
            <a href="/auth" class="btn btn-dark btn-lg">Get Started</a>
        </div>
    </header>

{% endblock %}



    



